
/wp-admin
/wp-includes
/wp-content/plugins/akismet
/wp-content/plugins/hello.php
/wp-content/plugins/index.php
/wp-content/themes/twentyfifteen
/wp-content/themes/twentyfourteen
/wp-content/themes/twentythirteen
/wp-content/upgrade
/wp-content/index.php
/license.txt
/index.php
/readme.html
/web.config
/xmlrpc.php
/wp-trackback.php
/wp-signup.php
/wp-settings.php
/wp-mail.php
/wp-login.php
/wp-load.php
/wp-links-opml.php
/wp-cron.php
/wp-config-sample.php
/wp-config.php
/wp-comments-post.php
/wp-blog-header.php
/wp-activate.php
/wp-content/languages
/wp-content/themes/index.php